* {
    font-family: monospace;
    font-size: 11px;

    background: transparent;

    border: none;
    border-radius: 0;
    padding: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces button {
    color: white;
    min-width: 26px;
    border-bottom: 1px solid transparent;
}

#workspaces button.empty {
    color: rgba(100, 114, 125, 0.5);
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 1px solid white;
    color: white;
}

#mpd, #pulseaudio, #network, #power-profiles-daemon, #cpu, #memory, #temperature, #backlight, #keyboard-state, #language, #battery, #clock, #tray {
    border-bottom: 1px solid white;
    padding: 0 4px;
}

#battery, #clock {
    padding: 0 8px;
}

#clock {
    background-color: #64727D;
}

#battery {
    color: white;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    color: white;
    background: #f53c3c;
}
