@import "colors.css";

@define-color waybar-fg     @fg;
@define-color waybar-bg     alpha(@bg, .8);
@define-color waybar-border alpha(@fg, .5);

@define-color tooltip-fg     @waybar-fg;
@define-color tooltip-bg     @bg;
@define-color tooltip-border @waybar-border;

@define-color tray-menu-fg     @tooltip-fg;
@define-color tray-menu-bg     @tooltip-bg;
@define-color tray-menu-border @tooltip-border;

@define-color workspaces-fg        @fg;
@define-color workspaces-active-bg @red1;
@define-color workspaces-active-fg @fg;
@define-color workspaces-empty-fg  @waybar-border;

@define-color module-border @fg;

@define-color battery-charging-fg @fg;
@define-color battery-charging-bg @green1;
@define-color battery-warning-fg  @fg;
@define-color battery-warning-bg  @orange1;
@define-color battery-critical-fg @fg;
@define-color battery-critical-bg @red1;

* {
    font-family: monospace;
    font-size: 11px;

    background: transparent;

    border: none;
    border-radius: 0;
    padding: 0;
    min-height: 0;
    text-shadow: none;
    box-shadow: none;
}

window#waybar {
    color: @waybar-fg;
    background: @waybar-bg;
    border-bottom: 1px solid @waybar-border;
}

tooltip {
    background: @tooltip-bg;
    border: 1px solid @tooltip-border;
}

tooltip label {
    color: @tooltip-fg;
}

#tray menu {
    color: @tray-menu-fg;
    background: @tray-menu-bg;
    border: 1px solid @tray-menu-border;
}

#workspaces button {
    color: @workspaces-fg;
    min-width: 26px;
    border-bottom: 1px solid transparent;
}

#workspaces button.empty {
    color: @workspaces-empty-fg;
}

#workspaces button.active {
    color: @workspaces-active-fg;
    background: @workspaces-active-bg;
    border-bottom: 1px solid @module-border;
}

#workspaces button:hover {
    border-bottom: 1px solid @module-border;
    border-top: none;
}

#mpd, #pulseaudio, #network, #power-profiles-daemon, #cpu, #memory, #temperature, #backlight, #keyboard-state, #battery, #clock, #tray {
    border-bottom: 1px solid @module-border;
    padding: 0 4px;
}

#battery.charging {
    color: @battery-charging-fg;
    background-color: @battery-charging-bg;
    padding: 0 8px;
}

#battery.warning:not(.charging) {
    color: @battery-warning-fg;
    background: @battery-warning-bg;
    padding: 0 8px;
}

#battery.critical:not(.charging) {
    color: @battery-critical-fg;
    background: @battery-critical-bg;
    padding: 0 8px;
}
